In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('german_credit_data.csv').drop(['Unnamed: 0'], axis=1)

In [3]:
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
dtypes: int64(4), object(5)
memory usage: 70.4+ KB

In [8]:
#Пустые значения заполним нулями, это пригодится далее
df = df.fillna(0)

# попробуем пронумеровать по возрастанию значения типа 'little', 'rich' и т.д.
df['Checking account'] = df['Checking account'].replace(['little','moderate','rich'], [1, 2, 3])
df['Saving accounts'] = df['Saving accounts'].replace(['little','moderate','quite rich', 'rich'], [1, 2, 3, 4])
# Допустим мы оцениваем вероятность того, что клиента НЕ ждёт дефолт, т.е. он будет достаточно платёжеспособен.
# Меньшим весом будет обладать тот человек, который снимает жилье, затем, который имеет собственное, 
# а затем, который имеет бесплатное.
df['Housing'] = df['Housing'].replace(['rent','own', 'free'], [1, 2, 3])

# Пол закодируем по принципу OneHotEncode
df = pd.get_dummies(df, prefix=['Sex'], columns = ['Sex'])

In [11]:
#Добавим новый признак, некую величину, отражающую платёже способность. Зададим её по формуле ниже
df['Solvency'] = (df['Checking account'] + df['Saving accounts']) / (df['Credit amount'] / df['Duration']) * 100

In [12]:
df.head()

,Age,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Sex_female,Sex_male,Solvency
0,67,2,2,0,1,1169,6,radio/TV,0,1,0.513259
1,22,2,2,1,2,5951,48,radio/TV,1,0,2.419761
2,49,1,2,1,0,2096,12,education,0,1,0.572519
3,45,2,3,1,1,7882,42,furniture/equipment,0,1,1.065719
4,53,2,3,1,1,4870,24,car,0,1,0.985626

In [13]:
df['Purpose'].unique()

array(['radio/TV', 'education', 'furniture/equipment', 'car', 'business',
       'domestic appliances', 'repairs', 'vacation/others'], dtype=object)